**/crash-reports/**
**/logs/**
**/natives/**
**/patchouli_books/**
**/saves/**
**/screenshots/**
**/options.txt
**/patchouli_data.json
**/reauth.toml
**/servers.dat
**/servers.dat_old
**/usercache.json
**/usernamecache.json
**/cache/**
client_folder/CustomSkinLoader/caches
client_folder/local/ftbchunks/data/**
client_folder/.sl_password
client_folder/backups
client_folder/local/ftbutilities/backups.json
client_filder/schematics/**
client_folder/schematics/greece.nbt
client_folder/schematics/medival_house1.nbt
client_folder/schematics/medival_house2.nbt
client_folder/schematics/medival_house3.nbt
client_folder/schematics/medival_house4.nbt
client_folder/schematics/void_house.nbt
client_folder/schematics/medival_church1.nbt
client_folder/schematics/uploaded/Andrey66/greece.nbt
client_folder/schematics/uploaded/Andrey66/medival_house1.nbt
client_folder/schematics/uploaded/Andrey66/medival_church1.nbt
client_folder/schematics/housmedival_house4.nbt
**/.vs/**
client_folder/config/repurposed_structures-forge/natural_mob_spawning_configs.json5
client_folder/config/repurposed_structures-forge/biome_dimension_allow_disallow_configs.json5
client_folder/config/PlasmoVoice/server.yml
client_folder/config/PlasmoVoice/server_data.json
client_folder/config/PlasmoVoice/config.json
client_folder/config/jei/recipe-category-sort-order.ini
client_folder/config/jei/ingredient-list-type-sort-order.ini
client_folder/config/biomesoplenty/biomes.json
client_folder/config/sodium-options.json
client_folder/config/sidebar_buttons.json
client_folder/config/jeed-client.toml
client_folder/config/invtweaks-client.toml
client_folder/simple-rpc/server-entries.toml
*.log
client_folder/config/konkrete/locals/de_de.local
client_folder/config/konkrete/locals/en_us.local
client_folder/config/konkrete/locals/pl_pl.local
client_folder/config/konkrete/locals/pt_br.local
client_folder/config/fancymenu/locals/zh_cn.local
client_folder/config/fancymenu/locals/pt_br.local
client_folder/config/fancymenu/locals/pl_pl.local
client_folder/config/fancymenu/locals/en_us.local
client_folder/config/fancymenu/locals/de_de.local
client_folder/password/password.txt
client_folder/CustomSkinLoader/CustomSkinLoader.log
client_folder/CustomSkinLoader/CustomSkinLoader.json
Andrusik's_client_folder/.sl_password
