**/crash-reports/**
**/logs/**
**/natives/**
**/patchouli_books/**
**/resourcepacks/**
**/saves/**
**/screenshots/**
**/options.txt
**/patchouli_data.json
**/reauth.toml
**/servers.dat
**/servers.dat_old
**/usercache.json
**/usernamecache.json
**/cache/**
