**/crash-reports/**
**/logs/**
**/natives/**
**/patchouli_books/**
**/resourcepacks/**
**/saves/**
**/screenshots/**
**/options.txt
**/patchouli_data.json
**/reauth.toml
**/servers.dat
**/servers.dat_old
**/usercache.json
**/usernamecache.json
**/cache/**
**/CustomSkinLoader/**
client_folder/local/ftbchunks/data/**
client_folder/.sl_password
client_folder/backups
client_folder/local/ftbutilities/backups.json
client_filder/schematics
